img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
  }
  
  .cuerpo{
    display: flex;
  
  }
  .menu{
      color: white;
      background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255));
      padding: 40px;
      margin-right: 40px;
      font-size: 20px;
      margin-bottom: 70px;
  }
  .menu ul {
      list-style-type: none;
      padding: 0;
    }
    
    .menu li {
      margin: 5px 0;
    }
    .menu ul li a {
      color: rgb(255, 255, 255);
  }
  
  
  .footer{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: center;
  }